@font-face {
    font-family: title;
    src: url(Bungee-Regular.ttf);
}

:root {
    --red: #ff0000;
    --darkred: #920000;
  }

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('/src/image.webp');
    height: 100vh;
}

header {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    align-self: stretch;
}

header > .icon {
    height: 4.5rem;
    width: min-content;
    font-family:Arial;
}

header > .logo {
    flex: auto;
    font-size: 3.5rem;
    font-family: title;
    text-shadow: 2px 2px var(--red);
}

.nav {
    display: flex;
    gap: 3rem;
    padding: 0 1rem;

}

.nav-button {
    padding: 0.5rem 2rem;
    border-radius: 7px;
    background-color: black;
    color: white;
    border: 3px solid white;
    font-size: 1.6rem;
    text-shadow: -1px -1px 0 var(--red), 1px -1px 0 var(--red), -1px 1px 0 var(--red), 1px 1px 0 var(--red);
    font-family: title;
}

.nav-button:hover {
    border: 3px solid var(--red);
    text-shadow: -2px -2px 0 var(--red), 2px -2px 0 var(--red), -2px 2px 0 var(--red), 2px 2px 0 var(--red);
}

.nav-button:active {
    border: 3px solid var(--darkred);
    text-shadow: -2px -2px 0 var(--darkred), 2px -2px 0 var(--darkred), -2px 2px 0 var(--darkred), 2px 2px 0 var(--darkred);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    justify-content: center;
}

/* body:before {
    content: ' ';
    background-color: white;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
} */

.info {
    display: flex;
    flex-direction: column;
    border: solid 1px #6a696a;
    border-radius: 5px;
    padding: 1rem;
}

.github {
    font-size: 1.5rem;
    height: 2rem;
    width:auto;
    fill: white
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
    fill: white
}

footer {
    background-color: black;
    align-self: stretch;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}