@font-face {
    font-family: title;
    src: url(Bungee-Regular.ttf);
}

@font-face {
    font-family: secondary-title;
    src: url(Galindo-Regular.ttf);
}

@font-face {
    font-family: para;
    src: url(Exo2-VariableFont_wght.ttf);
}

:root {
    --red: #ff0000;
    --darkred: #920000;
  }

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

body {
    background-image: url('/src/image.webp');
    background-size: cover;
    font-family: para;
    font-size: 1.1rem;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
    gap: 1rem;
    align-self: stretch;
}

header > .icon {
    height: 4.5rem;
    width: min-content;
    font-family:Arial;
}

header > .logo {
    flex: auto;
    font-size: 3.5rem;
    font-family: title;
    text-shadow: 2px 2px var(--red);
}

.nav {
    display: flex;
    gap: 3rem;
    padding: 0 1rem;

}

button {
    padding: 0.5rem 2rem;
    border-radius: 7px;
    background-color: black;
    color: white;
    border: 3px solid white;
    font-size: 1.6rem;
    text-shadow: -1px -1px 0 var(--red), 1px -1px 0 var(--red), -1px 1px 0 var(--red), 1px 1px 0 var(--red);
    font-family: title;
}

button:hover {
    border: 3px solid var(--red);
    text-shadow: -2px -2px 0 var(--red), 2px -2px 0 var(--red), -2px 2px 0 var(--red), 2px 2px 0 var(--red);
}

button:active {
    border: 3px solid var(--darkred);
    text-shadow: -2px -2px 0 var(--darkred), 2px -2px 0 var(--darkred), -2px 2px 0 var(--darkred), 2px 2px 0 var(--darkred);
}

main {
    justify-content: center;
    height: 100%;
}

.container,
.menu,
.contact {
    gap: 1rem;
    padding: 1.5rem 3.5rem;
    background-color: rgba(0,0,0,0.9);
    border-radius: 30px;
    color: white;
    border: 5px solid white;
}

.container,
main,
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h3 {
    font-family: secondary-title;
    font-size: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(0,0,0,0.7);
    color: white;
    gap: 0.75rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.info-icon,
.contact-icon {
    height: 1.2rem;
}

.location,
.hours,
.phone,
.social {
    display:flex;
    align-items: center;
    gap: 0.5rem;
}

.github {
    height: 1.5rem;
    width:auto;
    fill: white
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
    fill: white
}

footer {
    background-color: black;
    align-self: stretch;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
    gap: 0.5rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 15rem;
    background-color: rgba(0,0,0,0.95);
}

.plate-image {
    height: 4rem;
}

.menu>*:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.map-title,
.contact-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
}